<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SEN371_Project.Properties.Settings.PremierServiceSolutionsConnectionString"
            connectionString="Data Source=DESKTOP-P3PTCL8\SQLEXPRESS;Initial Catalog=PremierServiceSolutions;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>