/* General styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  color: #fff;
  font-family: "hermeneus_oneregular", Arial, sans-serif;
  background-image: url("../Website Images/Business Images/Wall UnSat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  font-family: "hepta_slabextralight", Arial, sans-serif;
  text-align: center;
  font-family: "hepta_slabextralight", Arial, sans-serif;
  background-color: #9a9a9a70;
  border: 5px solid #d9d9d9;
  border-radius: 12px;
  padding: 20px;
  margin: 10px;
}

#inner-container {
  background-color: #9a9a9a;
  border: 5px solid #d9d9d9;
  border-radius: 12px;
  padding: 20px;
}
form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2); /* White with 20% opacity */
  background-color: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
}

label {
  display: block;
  margin-bottom: 5px;
}

.sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 0;
  padding: 0;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

.sidebar a:hover {
  background-color: #4caf50;
}

/* button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  } */
button {
  background-color: #11d80080;
  color: #161616;
  padding: 5px 35px;
  margin-top: 30px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  border: 3px solid #d9d9d9;
  cursor: pointer;
}

.redirect {
  color: #11d800;
  font-size: 22px;
  font-weight: bold;
}
p {
  font-size: 20px;
}

.container {
  text-align: center;
  color: #161616;
  margin-top: 1.5%;
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

#PSSLogo {
  width: 265px;
  height: 50px;
  border: 3px solid #9a9a9a;
  border-radius: 7px;
  margin-left: -8%;
  margin-right: 25px;
  margin-top: -3px;
}

#Nav1 {
  margin-right: 50px;
}

#Nav3 {
  float: right;
  margin-left: auto;
  margin-right: 20px;
}

.top-nav {
  width: 100%;
  height: 66px;
  background-color: #3c5a70;
  border-bottom: 4px solid #9a9a9a;
  border-top: 4px solid #9a9a9a;
  font-size: 26px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.top-nav-left {
  list-style: none;
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.top-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  border: 3px solid #9a9a9a;
  border-radius: 7px;
  padding: 3px 5px 3px 5px;
}

.top-nav a:hover {
  background-color: #d9d9d920;
}

.current a {
  background-color: #9a9a9a70;
}

.Footer {
  width: 100%;
  height: 40px;
  background-color: #3c5a70;
  border-bottom: 4px solid #9a9a9a;
  border-top: 4px solid #9a9a9a;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.Footer-Content {
  list-style: none;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}
